body {
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  background: url(../images/oriental.png);
}

a:link {
  color: #4aaaa5;
}

a:visited {
  color: #204b49;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 15px;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
  }
  h3 {
    font-size: 12px;
  }
  h4 {
    font-size: 10px;
  }
  p {
    font-size: 12px;
  }
  header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: .25fr 2.5fr .75fr .4fr .4fr .4fr .75fr;
    grid-column-gap: 5px;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    height: 25px;
    position: fixed;
    top: 0px;
    z-index: 1;
  }
  #aboutmesection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr .25fr .5fr .5fr;
    width: 80%;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 5px 10px 15px 10px;
  }
  #name {
    background-color: #4aaaa5;
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    margin: auto;
    padding-top: 6px;
    text-align: center;
    height: 100%;
  }
  #about {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    margin: auto;
  }
  #portfolio {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
    margin: auto;
  }
  #contact {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 6 / span 1;
    margin: auto;
  }
  #aboutmetitle {
    color: #4aaaa5;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
  }
  #horizontalline {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding: 2px 5px 2px 5px;
  }
  #aboutmepic {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
  }
  #mypicture {
    height: 125px;
    width: 125px;
  }
  #aboutmeparagraph1 {
    display: flex;
    align-items: center;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    margin: 7px;
  }
  #aboutmeparagraph2 {
    display: flex;
    align-items: center;
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
  #contactform {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr .5fr .5fr 1.5fr .5fr;
    width: 80%;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 5px 10px 15px 10px;
  }
  #inputtitle {
    font-size: 16px;
  }
  #nameenter {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  #emailenter {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1
  }
  #messageenter {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }
  #ymessage {
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #submit {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
  }
  input[type=submit] {
    background-color: #4aaaa5;
    color: #777777;
    padding: 5px 5px;
    border: 1px solid #dddddd;
  }
  input[type=text], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  #portfoliobody {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    grid-column-gap: 15px;
    padding: 5px 10px 15px 10px;
  }
  .portpic {
    height: 110px;
    width: 170px;
    text-align: center;
  }
  #portpic1 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin: auto;
  }
  #portpic2 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    margin: auto;
  }
  #portpic3 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    margin: auto;
  }
  #portpic4 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
    margin: auto;
  }
  #portpic5 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
    margin: auto;
  }
  #caption {
    position: absolute;
    color: white;
    height: 35px;
    width: 170px;
    background-color: #4aaaa5;
    margin-top: 70px;
    text-align: center;
    padding: 10px;
  }
  footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: #cccccc;
    background-color: #666666;
    width: 100%;
    height: 20px;
    border-top: 5px solid #4aaaa5;
    padding-top: 3px;
    padding-bottom: 10px;
  }
  #copyright {
    bottom: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  h3 {
    font-size: 12px;
  }
  h4 {
    font-size: 10px;
  }
  p {
    font-size: 12px;
  }
  header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: .5fr 2.6fr 1fr .5fr .5fr .5fr 1fr;
    grid-column-gap: 1px;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0px;
    z-index: 1;
  }
  #aboutmesection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr .5fr .5fr;
    width: 80%;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 12px;
  }
  #name {
    background-color: #4aaaa5;
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    margin: auto;
    padding: 0px;
    text-align: center;
    height: 100%;
  }
  #about {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    margin: auto;
    font-size: 10px;
  }
  #portfolio {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
    margin: auto;
    font-size: 10px;
  }
  #contact {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 6 / span 1;
    margin: auto;
    font-size: 10px;
  }
  #aboutmetitle {
    color: #4aaaa5;
    grid-column: 1 /span 3;
    grid-row: 1 / span 1;
    margin-left: 15px;
    margin-top: 10px;
    text-align: left
  }
  #horizontalline {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    padding: 0px 5px 0px 5px;
  }
  #aboutmepic {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
  }
  #mypicture {
    height: 150px;
    width: 150px;
  }
  #aboutmeparagraph1 {
    display: flex;
    align-items: center;
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    margin: 7px;
  }
  #aboutmeparagraph2 {
    display: flex;
    align-items: center;
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
  }
  #contactform {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr .5fr .5fr 1.5fr .5fr;
    width: 80%;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 8px;
  }
  #nameenter {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  #emailenter {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1
  }
  #messageenter {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }
  #ymessage {
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #submit {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
  }
  input[type=submit] {
    background-color: #4aaaa5;
    color: #777777;
    padding: 5px 5px;
    border: 1px solid #dddddd;
  }
  input[type=text], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  #portfoliobody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 1fr 1fr 1fr;
    width: 80%;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 12px;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
  }
  .portpic {
    height: 100px;
    width: 150px;
    text-align: center;
  }
  #portpic1 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin: auto;
  }
  #portpic2 {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    margin: auto;
  }
  #portpic3 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    margin: auto;
  }
  #portpic4 {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    margin: auto;
  }
  #portpic5 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    margin: auto;
  }
  #caption {
    position: absolute;
    color: white;
    height: 30px;
    width: 150px;
    background-color: #4aaaa5;
    margin-top: 65px;
    text-align: center;
    padding: 5px;
  }
  footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: #cccccc;
    background-color: #666666;
    width: 100%;
    height: 20px;
    border-top: 5px solid #4aaaa5;
    padding-top: 3px;
    padding-bottom: 10px;
  }
  #copyright {
    bottom: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 20px;
  }
  header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: .5fr 2.6fr 1fr .5fr .5fr .5fr 1fr;
    grid-column-gap: 1px;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 1;
  }
  #aboutmesection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 1fr 1fr;
    width: 1000px;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 25px;
  }
  #name {
    background-color: #4aaaa5;
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    margin: auto;
    padding: 15px;
    text-align: center;
    height: 100%;
  }
  #about {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    margin: auto;
    font-size: 20px;
  }
  #portfolio {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
    margin: auto;
    font-size: 20px;
  }
  #contact {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 6 / span 1;
    margin: auto;
    font-size: 20px;
  }
  #aboutmetitle {
    color: #4aaaa5;
    grid-column: 1 /span 3;
    grid-row: 1 / span 1;
    margin-left: 20px;
    margin-top: 15px;
    text-align: left
  }
  #horizontalline {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    padding: 0px 15px 0px 15px;
  }
  #aboutmepic {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
  }
  #mypicture {
    height: 250px;
    width: 250px;
  }
  #aboutmeparagraph1 {
    display: flex;
    align-items: center;
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }
  #aboutmeparagraph2 {
    display: flex;
    align-items: center;
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    padding-right: 15px;
  }
  #contactform {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 1fr 1fr 3fr 1fr;
    width: 1000px;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 15px;
  }
  #nameenter {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  #emailenter {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1
  }
  #messageenter {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }
  #ymessage {
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #submit {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
  }
  input[type=submit] {
    background-color: #4aaaa5;
    color: #777777;
    padding: 15px 15px;
    border: 3px solid #dddddd;
  }
  input[type=text], textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  #portfoliobody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 1fr 1fr 1fr;
    width: 1000px;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 15px;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
  }
  .portpic {
    height: 200px;
    width: 300px;
    text-align: center;
  }
  #portpic1 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin: auto;
  }
  #portpic2 {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    margin: auto;
  }
  #portpic3 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    margin: auto;
  }
  #portpic4 {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    margin: auto;
  }
  #portpic5 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    margin: auto;
  }
  #caption {
    position: absolute;
    color: white;
    height: 60px;
    width: 300px;
    background-color: #4aaaa5;
    margin-top: 130px;
    text-align: center;
    padding: 15px;
  }
  footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: #cccccc;
    background-color: #666666;
    width: 100%;
    height: 40px;
    border-top: 10px solid #4aaaa5;
    padding-top: 10px;
  }
  #copyright {
    bottom: 0px;
  }
}